<!-- cSpell:ignore iloc -->

# lib Pandas

#### Create `DataFrame` Object

- `pd.read_csv(${path_csv})`
- input `archivo.csv`
- output object `pandas.core.frame.DataFrame`
- `DataFrame.dtypes` muestra el tipo de datos de la tabla

In [20]:
import pandas as pd

# Creamos un DataFrame y lo asignamos a `data`
df = pd.read_csv("../data/housing.csv")

# Obtenemos el tipo de objeto
objType = type(df)

# Obtenemos los tipos de datos del DataFrame
dataType = df.dtypes

# Mostramos la informaciÃ³n
print('A partir del archivo "housing.csv":\n')
print("Se crea un objeto:", objType, "\n")
print("En el cual tenemos el siguiente esquema de datos:")
print(dataType)

A partir del archivo "housing.csv":

Se crea un objeto: <class 'pandas.core.frame.DataFrame'>

En el cual tenemos el siguiente esquema de datos:
longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
ocean_proximity        object
dtype: object

#### DataFrame Viewing data

pandoc -s -o panda-lib-user-guide.md panda-lib-user-guide.rst

- DataFrame.head() top rows
- DataFrame.tail() bottom rows
- DataFrame.index display index
- DataFrame.columns display columns names
- DataFrame.to_numpy() convert into a numpy array
- DataFrame.describe() shows a quick statistic summary of your data
- DataFrame.T Transposing your data:
- DataFrame.sort_index() sorts by an axis:
- DataFrame.sort_values() sorts by values:
- DataFrame.["${ColumnName}"] get items by column name

In [21]:
print(df)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                41.0        880.0           129.0
1        -122.22     37.86                21.0       7099.0          1106.0
2        -122.24     37.85                52.0       1467.0           190.0
3        -122.25     37.85                52.0       1274.0           235.0
4        -122.25     37.85                52.0       1627.0           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                25.0       1665.0           374.0
20636    -121.21     39.49                18.0        697.0           150.0
20637    -121.22     39.43                17.0       2254.0           485.0
20638    -121.32     39.43                18.0       1860.0           409.0
20639    -121.24     39.37                16.0       2785.0           616.0

       population  households  median_income  median_house_value  \
0           322.0       126.0         8.3252            452600.0
1          2401.0      1138.0         8.3014            358500.0
2           496.0       177.0         7.2574            352100.0
3           558.0       219.0         5.6431            341300.0
4           565.0       259.0         3.8462            342200.0
...           ...         ...            ...                 ...
20635       845.0       330.0         1.5603             78100.0
20636       356.0       114.0         2.5568             77100.0
20637      1007.0       433.0         1.7000             92300.0
20638       741.0       349.0         1.8672             84700.0
20639      1387.0       530.0         2.3886             89400.0

      ocean_proximity
0            NEAR BAY
1            NEAR BAY
2            NEAR BAY
3            NEAR BAY
4            NEAR BAY
...               ...
20635          INLAND
20636          INLAND
20637          INLAND
20638          INLAND
20639          INLAND

[20640 rows x 10 columns]

##### DataFrame `cell`

In [22]:
# mostrar cabeceras
# mostrar celda (0,0)
print("celda (0,0)\n", df.iloc[0, 0])

celda (0,0)
 -122.23

##### DataFrame `row`

- `data.iloc[0, 0]`

In [23]:
# mostrar la fila 1
print("[mostrar la fila 1]")
print("con head --> data.head(1)\n", df.head(1))
print("con iloc --> data.iloc[:1]\n", df.iloc[:1])
print("con iloc --> data.iloc[0:1]\n", df.iloc[0:1])
# mostrar la fila 3 y 4 (2,4)
print("fila (0,1)\n", df.iloc[0:1])
# mostrar la fila 3 y 4 (2,4)
print("fila (3,4)\n", df.iloc[2:4])

[mostrar la fila 1]
con head --> data.head(1)
    longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
con iloc --> data.iloc[0:1]
    longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
con iloc --> data.iloc[0:1]
    longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
fila (0,1)
    longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
fila (3,4)
    longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0

   population  households  median_income  median_house_value ocean_proximity
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY

##### DataFrame acceso `column`

- `data.iloc[0, 0]`

In [24]:
# [mostrar primera columna]
# Por nombre de columna
print(df["longitude"])
# Por posiciÃ³n
print(df.iloc[:, 0])

# mostrar columna (2,4)
print(
    "muestame desde la columna `1` hasta la `3`  --> df.iloc[:, [1, 3]]\n",
    df.iloc[:, [1, 3]],
)

0       -122.23
1       -122.22
2       -122.24
3       -122.25
4       -122.25
          ...
20635   -121.09
20636   -121.21
20637   -121.22
20638   -121.32
20639   -121.24
Name: longitude, Length: 20640, dtype: float64
0       -122.23
1       -122.22
2       -122.24
3       -122.25
4       -122.25
          ...
20635   -121.09
20636   -121.21
20637   -121.22
20638   -121.32
20639   -121.24
Name: longitude, Length: 20640, dtype: float64
muestame desde la columna `1` hasta la `3`  --> df.iloc[:, [1, 3]]
        latitude  total_rooms
0         37.88        880.0
1         37.86       7099.0
2         37.85       1467.0
3         37.85       1274.0
4         37.85       1627.0
...         ...          ...
20635     39.48       1665.0
20636     39.49        697.0
20637     39.43       2254.0
20638     39.43       1860.0
20639     39.37       2785.0

[20640 rows x 2 columns]